.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
   display: flex;
  flex-wrap: wrap;
  width: 1600px;
  height: 0px;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #b33f86;
  margin: 0px;
  transition: background-color 0.0s;
}

.circle.hovered {
  background-color: #338cc7;
}
