h1{
    font-size: 51px;
    color: blue;
}

p{
    color: purple;
    font-weight: bold;
}

.container{
    color: palegreen;
    font-weight: bold   ;
}
.container2{
    color: yellow;
}

#contato{
    color: rgb(21, 38, 185);
    font-size: 35px;
}

a:hover{
    font-size: 10px;
}
.superster{
    font-size: 100px;
    color: rgb(42, 42, 203);
    font-weight: bold   ;
}